<div data-title="Change Password"
     class="flex flex-col justify-center items-center w-fit h-full overflow-y-auto">
    <ui-form form-title="Change Password" action="/changepassword" method="put"
        initial-values='{"password": "", "password2": "", "showtext": false }'
        submit-post-put-handler="afterChangePassword"
        cancel-handler="cancelChangePassword"
        form-buttons
    >
        <ui-input label="New Password" type="password" placeholder=" "
            name="password" data-password
            required="New Password is a Required Field"
            maxlength="128"
            validator-messages='[{"Max":"Must be 128 characters or less"}]'
            autofocus
        ></ui-input>
        <ui-input label="Confirm New Password" type="password" placeholder=" "
            name="password2" data-password
            required="Confirm New Password is a Required Field"
            maxlength="128"
            validators='["EqualTo"]'
            validator-fields='[{"EqualTo":"password"}]'
            validator-messages='[{"Max":"Must be 128 characters or less"},
                                {"EqualTo":"Passwords dont match"}]'
        ></ui-input>

        <div class="flex flex-row flex-wrap">
            <label class="cursor-pointer label font-medium">
                <input type="checkbox" id="showtext" name="showtext" class="toggle toggle-sm toggle-primary me-1"
                    onclick="showPassword()"
                />
                <span class="label-text">Show Text</span>
            </label>
        </div>
    </ui-form>
</div>
<script>
    function showPassword() {
        document.querySelectorAll("[data-password]").forEach(ele => {
            if(ele.type === "password") {
                ele.type = "text";
            } else {
                ele.type = "password";
            }
        });
    }
    function afterChangePassword(event, data) {
        event.preventDefault();

        const initPassword = document.getElementById("initPassword");
        if(initPassword) {
            // resetApp is globally defined in view.js
            resetApp();
        }
        // closePage is globally defined in view.js
        closePage();
    }
    function cancelChangePassword(event, data) {
        event.preventDefault();

        const initPassword = document.getElementById("initPassword");
        if(initPassword) return false;
        else
            // closePage is globally defined in view.js
            closePage();
    }
</script>
