<div data-title="Change Password"
     class="flex flex-col justify-center items-center w-fit h-full overflow-y-auto">
    <ui-form form-title="Change Password" action="/changepassword" method="put"
        initial-values='{"password": "", "password2": "", "showtext": false }'
        validation-schema="validationShapeSchema"
        submit-post-put-handler="afterChangePassword"
        cancel-handler="cancelChangePassword"
        form-buttons
    >
        <ui-input label="New Password" type="password" placeholder=" "
            name="password" data-password
            autofocus
        ></ui-input>
        <ui-input label="Confirm New Password" type="password" placeholder=" "
            name="password2" data-password
        ></ui-input>
        <div class="flex flex-row flex-wrap">
            <label class="cursor-pointer label font-medium">
                <input type="checkbox" id="showtext" name="showtext" class="toggle toggle-sm toggle-primary me-1"
                    onclick="showPassword()"
                />
                <span class="label-text">Show Text</span>
            </label>
        </div>
    </ui-form>
</div>
<script>
    function showPassword() {
        document.querySelectorAll("[data-password]").forEach(ele => {
            if(ele.type === "password") {
                ele.type = "text";
            } else {
                ele.type = "password";
            }
        });
    }
    function validationShapeSchema() {
        // Yup is globally defined in web component (ui-form) form.js
        return Yup.object().shape({
                    password: Yup.string()
                        .max(128, 'Must be 128 characters or less')
                        .required('New Password is a Required Field'),
                    password2: Yup.string()
                        .oneOf([Yup.ref('password'), null],"Passwords dont match")
                        .max(128, 'Must be 128 characters or less')
                        .required('Confirm Password is a Required Field'),
                    });
    }
    function afterChangePassword(event, data) {
        event.preventDefault();

        const initPassword = document.getElementById("initPassword");
        if(initPassword) {
            // resetApp is globally defined in web component (ui-form) form.js
            resetApp();
        }
        // closePage is globally defined in web component (ui-form) form.js
        closePage();
    }
    function cancelChangePassword(event, data) {
        event.preventDefault();

        const initPassword = document.getElementById("initPassword");
        if(initPassword) return false;
        else
            // closePage is globally defined in web component (ui-form) form.js
            closePage();
    }
</script>
