<div data-title="Home"
    class="h-full w-full">
    <ui-home
        bookmarks='{{ bookmarks | tojson(indent=2) }}'
        tab-select="{{ activepage }}"
    >
        <div
            class="flex flex-row justify-center items-center h-full w-full overflow-x-hidden overflow-y-auto bg-cover bg-center bg-no-repeat"
            style="background-image: linear-gradient(rgba(52, 58, 64, 0.9), rgba(52, 58, 64, 0.9)), url('/static/images/background_main.jpg')">
            <p class="text-4xl">
                Welcome to {{ APP_TITLE }}
            </p>
        </div>
    </ui-home>
</div>
