<ul tabindex="0"
    class="block dropdown-content z-[99] menu p-2 shadow bg-base-200 text-base-content rounded-box w-max max-h-[90vh] overflow-y-auto">

    <li><a href="/profile" data-link >
        <span data-icon>users</span>
        Profile
    </a></li>

    <li><a href="/bookmarks" data-link >
        <span data-icon>bookmarks</span>
        Bookmarks
    </a></li>

    <li><a href="/notifications" data-link >
        <span data-icon>bells</span>
        Notifications
    </a></li>

    <hr />

    <li><a data-toggleTheme>
        <label class="swap swap-rotate">
            <input id="menu_swap_theme" type="checkbox" />
            <span class="swap-on" data-icon>moons</span>
            <span class="swap-off" data-icon>suns</span>
        </label>
        Toggle Theme
    </a></li>

    <li><a href="/setlocale" data-link >
        <span data-icon>flags</span>
        Set Locale
    </a></li>

    <li><a href="/settimezone" data-link >
        <span data-icon>clocks</span>
        Set Timezone
    </a></li>

    <hr />

    <li><a href="/changepassword" data-link >
        <span data-icon>lockcloseds</span>
        Change Password
    </a></li>

    <li><a href="/changecompany" data-link >
        <span data-icon>buildingoffices</span>
        Change Company
    </a></li>

    <hr />

    <li><a href="/jobqueues" data-link >
        <span data-icon>queuelists</span>
        Job Queue
    </a></li>

    <li><a href="/spooler" data-link >
        <span data-icon>printers</span>
        Spooler
    </a></li>

    <hr />

    <li><a href="/launcher" data-link >
        <span data-icon>rocketlaunchs</span>
        Launcher
    </a></li>

    <hr />

    <li><a href="/logout">
        <span data-icon>power</span>
        Logout
    </a></li>
</ul>
