<header class="flex justify-between items-center sticky top-0 z-10 block w-full max-w-full px-4 py-2 text-white bg-primary shadow-md h-max bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-3">
    <div class="flex items-center gap-x-5">
        <div class="flex">
            <label for="menu-drawer" aria-label="open sidebar"
                   class="btn btn-ghost rounded-full"
                   style="padding: 8px; height: inherit; min-height: inherit;">
                <span data-icon>bars3</span>
            </label>
        </div>
        <div class="flex">
            <a class="normal-case text-xl" data-link data-company_name
               href="/changecompany"></a>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <div class="tooltip tooltip-bottom" data-tip="Toggle Theme">
            <button class="btn btn-ghost rounded-full" data-toggleTheme
                    style="padding: 8px; height: inherit; min-height: inherit;">
                <span id="dark_theme" data-icon>moono</span>
                <span id="light_theme" data-icon>suno</span>
            </button>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="Notifications">
            <button class="btn btn-ghost rounded-full"
                style="padding: 8px; height: inherit; min-height: inherit;">
                <span data-icon>bello</span>
            </button>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="Logout">
            <a class="btn btn-ghost rounded-full" href="/logout"
                style="padding: 8px; height: inherit; min-height: inherit;">
                <span data-icon>power</span>
            </a>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="User Menu">
            <div id="user_menu" class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost rounded-full"
                    style="padding: 8px; height: inherit; min-height: inherit;">
                    <span data-icon>ellipsisv</span>
                </label>
                {% include "./menu/user_menu.html" %}
            </div>
        </div>
    </div>
</header>
