<div data-title="{{ title }}"
     class="flex flex-col justify-center items-center w-full h-full">

    <ui-datatable
            grid-title="{{ title }}"
            db-table="{{ table }}"
            program="{{ program }}"
            {{ multiple }}
            {{ addbutton }}
            {{ copybutton }}
            {{ updatebutton }}
            {{ deletebutton }}
            {{ filterbutton }}
            {{ columnbutton }}
            {{ bookmarkbutton }}
            {{ refreshbutton }}
            {{ autorefreshbutton }}
            {{ downloadbutton }}
            {{ printbutton }}
    ></ui-datatable>
</div>
