<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>

<head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{TEMPLATE_LOCATION}}/static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{TEMPLATE_LOCATION}}/static/css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!-- https://stackoverflow.com/questions/51315231/specify-font-in-python-pdfkit -->
    <link rel="stylesheet" href="{{TEMPLATE_LOCATION}}/static/fonts/base64/stylesheet.css" />
    {%- endblock styles %}

    {%- block scripts %}{%- endblock scripts %}
    <script src="{{TEMPLATE_LOCATION}}/static/js/jquery-3.5.1.min.js"></script>
    <script src="{{TEMPLATE_LOCATION}}/static/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}">

<div class="container">
{% block page_content -%}
    {% for row in data_row %}
	<div class="row">
	    <p> {{ row }} </p>
    </div>
    {% endfor %}
{%- endblock page_content %}
</div>

</body>
</html>

